//asi se maneja variables
$colorfondo : rgba(71, 12, 234, 0.4); 
$colorLetra : yellow; 

//ejemplo de cascada de sass.css
//ya no se necesita estar haciendo:
//.Miclase{..bla bla}   .miclase mihijo{bla bla bla}
.body1 {
    background-color: $colorfondo;
    h1{
        color: $colorLetra;
    }
}